 .u-section-1 {
  min-height: 1102px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 360px;
  background-image: url("images/Whitecliffe_students_group_phohto.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/SYM_Building_550.jpg");
  background-position: 50% 50%;
  min-height: 360px;
  background-size: auto 125%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/WC_Students_oncampus_550.jpg");
  background-position: 21.49% 50%;
  min-height: 360px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-list-1 {
  width: 909px;
  margin: 66px auto 54px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 576px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-4 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-5 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-6 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-7 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 20px 24px;
}

.u-section-1 .u-icon-8 {
  height: 88px;
  width: 88px;
  box-shadow: 7px -7px 0px 0px rgba(185,193,204,0.4);
  background-image: none;
  margin: 24px auto 0;
  padding: 18px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 2px 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 297px;
  }

  .u-section-1 .u-image-2 {
    min-height: 297px;
  }

  .u-section-1 .u-image-3 {
    min-height: 297px;
  }

  .u-section-1 .u-list-1 {
    width: 800px;
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 964px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 72px;
  }

  .u-section-1 .u-image-1 {
    min-height: 469px;
  }

  .u-section-1 .u-image-2 {
    min-height: 464px;
  }

  .u-section-1 .u-image-3 {
    min-height: 473px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 1894px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1787px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 586px;
  }

  .u-section-1 .u-image-1 {
    min-height: 704px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 969px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-2 {
    min-height: 438px;
  }

  .u-section-1 .u-image-3 {
    min-height: 447px;
  }

  .u-section-1 .u-list-1 {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 996px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 0;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-7,
.u-section-1 .u-list-item-7:before,
.u-section-1 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-8,
.u-section-1 .u-list-item-8:before,
.u-section-1 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-8 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-8 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-110:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-115:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-120:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-125:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-130:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]),
.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]).u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1e5e-135:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 341px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 35px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 171px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-1 {
  width: 77px;
  height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-image-1 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-image-2 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-2 {
  width: 77px;
  height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-image-3 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-image-4 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-3 {
  width: 77px;
  height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-image-5 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-image-6 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-4 {
  width: 77px;
  height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-image-7 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.u-section-3 .u-image-8 {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 140px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-1 {
    height: NaNpx;
  }

  .u-section-3 .u-image-2 {
    height: NaNpx;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-image-3 {
    height: NaNpx;
  }

  .u-section-3 .u-image-4 {
    height: NaNpx;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-5 {
    height: NaNpx;
  }

  .u-section-3 .u-image-6 {
    height: NaNpx;
  }

  .u-section-3 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-7 {
    height: NaNpx;
  }

  .u-section-3 .u-image-8 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 142px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    width: 142px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-3 {
    width: 142px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    width: 142px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-5 {
    width: 142px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    width: 142px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-7 {
    width: 142px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-8 {
    width: 142px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}